.App {
  margin: auto;
  padding: 15% 5%;
  justify-content: center;
  text-align: left;
  background-color: #ffa07a;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "position-image" "content";
}

.position-image {
  text-align: center;
}

.image {
  border-radius: 50%;
  border: 2px solid white;
}

.App .title {
  font-family: "Heebo", sans-serif;
  font-size: 50px;
}

.App .Iam {
  font-size: 25px;
}

.App p {
  font-size: 13px;
  font-weight: lighter;
}

.App p .stack {
  font-weight: 500;
}

.App .icons a {
  display: inline-block;
  padding-right: 10px;
}
